header {
    height: 596px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #e1d0d0;
    background:  url("Hostel.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.main{
    background: #c8d5f9;
    height : 50%;
    width : 40%;
    margin-left: 30%;
    border-radius: 2%;
    margin-top: 5%;
}
.btn{
    background: #1b739c88;
    width: 80%;
    height: 20%;
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    border-color: #4b77df88;
    border-radius: 5%;
    cursor: pointer;
    font-size: 100%;
}
.btn:hover{
    background: #13a1e288;
}
.stdhead{
    width: 100%;
    background: rgb(32, 32, 50);
}
.stdtag{
    color: aliceblue; 
    margin-left: 4%; 
    margin-top: 0px;
    padding-top: 1%;
    font-weight: bold;
    font-size: larger;
}
.fgtmain{
    background: rgb(180, 180, 201);
    margin-top: 15%;
    border-style: outset;
}
.pwd{
    color: rgb(14, 14, 56); 
    padding-left: 25px;
}
.sendbtn{
    height: 10%;
    cursor: pointer;
    background: rgb(32, 32, 50);
    margin-left: 25%;
    border: none;
    border-radius: 2%;
    width: 40%;
}
.sendbtn:hover{
    background: #03426688;
}